artigos/
.venv/
docs/
.backups/
images
# data/indicadores_trajetoria_educacao_superior_2014_2023.xlsx
# data/MICRODADOS_CADASTRO_CURSOS_2014.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2015.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2016.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2017.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2018.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2019.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2020.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2021.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2022.CSV
# data/MICRODADOS_CADASTRO_CURSOS_2023.CSV